/* Style sheet */

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: sans-serif;
}

.game {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.board {
	display: flex;
	width: 502px;
	height: 502px;
	flex-wrap: wrap;
	border: 1px solid black;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.square {
	width: 50px;
	height: 50px;
	border: 1px solid black;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.hit {
	background-color: red;
}

.sunk {
	background-color: black;
}

.miss {
	background-color: lightblue;
}

.enemyBoard {
	display: flex;
	width: 502px;
	height: 502px;
	flex-wrap: wrap;
	border: 1px solid black;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
